<%= form_for(@slide) do |f| %>
  <% if @slide.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@slide.errors.count, "error") %> prohibited this slide from being saved:</h2>

      <ul>
      <% @slide.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :link_url %><br>
    <%= f.text_field :link_url %>
  </div>
  <div class="field">
    <%= f.label :link_text %><br>
    <%= f.text_field :link_text %>
  </div>
  <div class="field">
    <%= f.label :link_blank %><br>
    <%= f.number_field :link_blank %>
  </div>
  <div class="field">
    <%= f.label :published %><br>
    <%= f.date_select :published %>
  </div>
  <div class="field">
    <%= f.label :flag %><br>
    <%= f.number_field :flag %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
