<h1>Listing slides</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Link url</th>
      <th>Link text</th>
      <th>Link blank</th>
      <th>Published</th>
      <th>Flag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @slides.each do |slide| %>
      <tr>
        <td><%= slide.title %></td>
        <td><%= slide.description %></td>
        <td><%= slide.link_url %></td>
        <td><%= slide.link_text %></td>
        <td><%= slide.link_blank %></td>
        <td><%= slide.published %></td>
        <td><%= slide.flag %></td>
        <td><%= link_to 'Show', slide %></td>
        <td><%= link_to 'Edit', edit_slide_path(slide) %></td>
        <td><%= link_to 'Destroy', slide, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Slide', new_slide_path %>
