<% breadcrumb :control_banners_show %>

<!-- ## Cake View Content Start ## -->
<article class="adminBlock">
<header class="adminTitle">
<h2>登録バナーの確認</h2>
</header>

<article class="adminContentList adminContact">
<header>
<h3>ここではバナーの詳細を見ることが出来ます。</h3>
</header>
<section>
<div class="adminContentsBody">
<p><span class="requierd"><%= notice %></span></p>
<ol class="magt10 magb10 padl20">
<li><span class="requierd">*</span>が付いている項目は必須項目になります。</li>
<li>タイトルは256文字まで入力可能です。</li>
<li>本文・リンクURLは1000字まで入力可能です。</li>
<li>画像の容量は合計2MB以内までです。</li>
<li>バナー画像は300×80のサイズで投稿して下さい。<br><span class="requierd">※指定サイズ以外はエラーになります。</span></li>
</ol>
    
<div class="forms">
<table cellspacing="0" cellpadding="0" id="formAdmin">
<tr>
<th>タイトル&nbsp;<span class="requierd">*</span></th>
<td>
<%= @banner.title %>
</td>
</tr>
<tr>
<th>バナー画像&nbsp;<span class="requierd">*</span></th>
<td>
<%= image_tag(@banner.authenticated_image_url(:banner_sample)) if @banner.image.present? %>
</td>
</tr>
<tr>
<th>本文&nbsp;<span class="requierd">*</span></th>
<td>
<div class="CKEditorContents">
<%= @banner.description %>
</div>
</td>
</tr>
<tr>
<th>リンクURL&nbsp;<span class="requierd">*</span></th>
<td>
<% # 公開フラグの設定
if @banner.link_blank == ApplicationController::LINK_INTERNAL
	blank_flag = nil
else	
	blank_flag = '_blank'
end
%>
<%= link_to 'このページを確認する', @banner.link_url, :target => blank_flag %>
</td>
</tr>
<tr>
<th>リンクの種類&nbsp;<span class="requierd">*</span></th>
<td>
<% # リンクの種類 %>
<% if @banner.link_blank == ApplicationController::LINK_INTERNAL %>
	<%= ApplicationController::LINK_HASH.key(ApplicationController::LINK_INTERNAL) %>
<% else %>
	<%= ApplicationController::LINK_HASH.key(ApplicationController::LINK_EXTERNAL) %>		
<% end %>
</td>
</tr>
<tr>
<th>公開日</th>
<td>
<% banner_date = @banner.published.to_s %>
<%= banner_date.gsub(/\-/,'.') %>
</td>
</tr>
<tr>
<th>公開フラグ&nbsp;<span class="requierd">*</span></th>
<td>
<% # 公開フラグの設定 %>
<% if @banner.link_blank == ApplicationController::LINK_INTERNAL %>
	<%= ApplicationController::LINK_HASH.key(ApplicationController::LINK_INTERNAL) %>
<% else %>
	<%= ApplicationController::LINK_HASH.key(ApplicationController::LINK_EXTERNAL) %>		
<% end %>
</td>
</tr>
</table>
<div class="sendButton">
<p>
<%= link_to '更新する', edit_banner_path(@banner), {:id => 'indexButton'} %>
&nbsp;|&nbsp;
<%= link_to '一覧に戻る', banners_path, {:id => 'completeButton'} %>
</p>
</div>
</div>
</div>
</section>
</article>
<!-- # Loop Start #  -->

<!-- # Loop End # -->
</article>
<!-- ## Cake View Content End ## -->
